.header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.logo {
  margin-left: 24px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-buttons {
  margin-top: 20px;
}

.nav-buttons a {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
  background-color: #45a049;
}
